In [1]:
from dask.distributed import Client

In [1]:
import pandas as pd

In [13]:
tabula.__version__

'2.6.0'

In [7]:
import tabula

In [2]:
# file = "../data/[file_name].xlsx"
# xl = pd.ExcelFile(file)
# sheets = xl.sheet_names  # see all sheet names
# sheets

In [9]:
tabula.io.read_pdf?

In [11]:
file = "../data/LF20_F40ADD_220.pdf"
data_dict = tabula.io.read_pdf(file, pages='all')
data_dict

Got stderr: Feb 02, 2023 2:09:47 PM org.apache.pdfbox.pdmodel.font.FileSystemFontProvider loadDiskCache
WARNING: New fonts found, font cache will be re-built
Feb 02, 2023 2:09:47 PM org.apache.pdfbox.pdmodel.font.FileSystemFontProvider <init>
WARNING: Building on-disk font cache, this may take a while
Feb 02, 2023 2:09:48 PM org.apache.pdfbox.pdmodel.font.FileSystemFontProvider <init>
WARNING: Finished building on-disk font cache, found 784 fonts

[   LANDFIRE Fire Behavior Fuel Model 40 Attribute Data Dictionary  \
 0                                                 NaN
 1                                           Attribute
 2                                                 NaN
 3                                               VALUE
 4                                               -9999
 5                                                  91
 6                                                  92
 7                                                  93
 8                                                  98
 9                                                  99
 10                                                101
 11                                                102
 12                                                103
 13                                                104
 14                                                105
 15                                                106
 16                                                107
 17                                                108
 18                                                109
 19                                                121
 20                                                122
 21                                                123
 22                                                124
 23                                                141
 24                                                142
 25                                                143
 26                                                144
 27                                                145
 28                                                146
 29                                                147
 30                                                148
 31                                                149
 32                                                161
 33                                                162
 34                                                163
 35                                                164
 36                                                165
 37                                                181
 38                                                182
 39                                                183
 40                                                184
 41                                                185
 42                                                186
 43                                                187
 44                                                188
 45                                                189
 46                                                201

                                            Unnamed: 0
 0                                                 NaN
 1                                         Description
 2                                                 NaN
 3   These fire behavior fuel models represent dist...
 4                                       Fill - NoData
 5                                                 NB1
 6                                                 NB2
 7                                                 NB3
 8                                                 NB8
 9                                                 NB9
 10                                                GR1
 11                                                GR2
 12                                                GR3
 13                                                GR4
 14                                                GR5
 15                                                GR6
 16                                                GR7
 17                                                GR8
 18                                                GR9
 19                                                GS1
 20                                                GS2
 21                                                GS3
 22                                                GS4
 23                                                SH1
 24                                                SH2
 25                                                SH3
 26                                                SH4
 27                                                SH5
 28                                                SH6
 29                                                SH7
 30                                                SH8
 31                                                SH9
 32                                                TU1
 33                                                TU2
 34                                                TU3
 35                                                TU4
 36                                                TU5
 37                                                TL1
 38                                                TL2
 39                                                TL3
 40                                                TL4
 41                                                TL5
 42                                                TL6
 43                                                TL7
 44                                                TL8
 45                                                TL9
 46                                                SB1  ,
       202                                                SB2
 0     203                                                SB3
 1     204                                                SB4
 2     NaN                                                NaN
 3   Count       number of pixels for the corresponding value
 4     NaN                                                NaN
 5    FBFM                Display attribute. FBFM Description
 6     NB1                                    Urban/Developed
 7     NB2                                           Snow/Ice
 8     NB3                                       Agricultural
 9     NB8                                         Open Water
 10    NB9                                             Barren
 11    GR1  Short, sparse dry climate grass is short, natu...
 12    GR2  Low load, dry climate grass primarily grass wi...
 13    GR3  Low load, very coarse, humid climate grass con...
 14    GR4  Moderate load, dry climate grass, continuous, ...
 15    GR5  Low load, humid climate grass, fuelbed depth i...
 16    GR6  Moderate load, continuous humid climate grass,...
 17    GR7  High load, continuous dry climate grass, grass...
 18    GR8  High load, very coarse, continuous, humid clim...
 19    GR9  Very high load, dense, tall, humid climate gra...
 20    GS1  Low load, dry climate grass-shrub shrub about ...
 21    GS2  Moderate load, dry climate grass-shrub, shrubs...
 22    GS3  Moderate load, humid climate grass-shrub, mode...
 23    GS4  High load, humid climate grass-shrub, heavy gr...
 24    SH1  Low load dry climate shrub, woody shrubs and s...
 25    SH2  Moderate load dry climate shrub, woody shrubs ...
 26    SH3  Moderate load, humid climate shrub, woody shru...
 27    SH4  Low load, humid climate timber shrub, woody sh...
 28    SH5  High load, dry climate shrub litter and woody ...
 29    SH6  Low load, humid climate shrub, woody shrubs an...
 30    SH7  Very high load, dry climate shrub, woody shrub...
 31    SH8  High load, humid climate shrub, woody shrubs a...,
                                                   SH9  \
 0                                                 TU1
 1                                                 TU2
 2                                                 TU3
 3                                                 TU4
 4                                                 TU5
 5                                                 TL1
 6                                                 TL2
 7                                                 TL3
 8                                                 TL4
 9                                                 TL5
 10                                                TL6
 11                                                TL7
 12                                                TL8
 13                                                TL9
 14                                                SB1
 15                                                SB2
 16                                                SB3
 17                                                SB4
 18                                                NaN
 19                                                  R
 20                                                  G
 21                                                  B
 22                                                RED
 23                                              GREEN
 24                                               BLUE
 25                                                NaN
 26  For more information, refer to: https://www.fs...
 27                                                NaN

    Very high load, humid climate shrub, woody shrubs and shrub litter, dense finely branched shrubs with fine\rdead fuel, 4-6 feet tall, herbaceous may be present, spread rate and flame high
 0   Low load dry climate timber grass shrub, low l...
 1   Moderate load, humid climate timber-shrub, mod...
 2   Moderate load, humid climate timber grass shru...
 3   Dwarf conifer with understory, short conifer t...
 4   Very high load, dry climate timber shrub, heav...
 5   Low load compact conifer litter, compact fores...
 6   Low load broadleaf litter, broadleaf, hardwood...
 7   Moderate load conifer litter, moderate load co...
 8   Small downed logs moderate load of fine litter...
 9   High load conifer litter, light slash or dead ...
 10  Moderate load broadleaf litter, spread rate an...
 11  Large downed logs, heavy load forest litter, l...
 12  Long needle litter, moderate load long needle ...
 13  Very high load broadleaf litter, may be heavy ...
 14  Low load activity fuel, light dead and down ac...
 15  Moderate load activity fuel or low load blowdo...
 16  High load activity fuel or moderate load blowd...
 17  High load blowdown, heavy blowdown fuel, blowd...
 18                                                NaN
 19                      Red color value range 0 - 255
 20                    Green color value range 0 - 255
 21                     Blue color value range 0 - 255
 22                        Red color value range 0 - 1
 23                      Green color value range 0 - 1
 24                       Blue color value range 0 - 1
 25                                                NaN
 26                                                NaN
 27                                                NaN                                                                                                                                           ]

In [3]:
file = "../data/LF20_F40_220.csv"
raw_data = pd.read_csv(file)
raw_data.head()

   VALUE FBFM40    R    G    B       RED     GREEN      BLUE
0     91    NB1  104  104  104  0.407843  0.407843  0.407843
1     92    NB2  225  225  225  0.882353  0.882353  0.882353
2     93    NB3  255  237  237  1.000000  0.929412  0.929412
3     98    NB8    0   14  214  0.000000  0.054902  0.839216
4     99    NB9   77  110  112  0.301961  0.431373  0.439216

In [16]:
raw_data.shape

(46, 8)

In [14]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46 entries, 0 to 45
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   VALUE   46 non-null     int64
 1   FBFM40  46 non-null     object
 2   R       46 non-null     int64
 3   G       46 non-null     int64
 4   B       46 non-null     int64
 5   RED     46 non-null     float64
 6   GREEN   46 non-null     float64
 7   BLUE    46 non-null     float64
dtypes: float64(3), int64(4), object(1)
memory usage: 3.0+ KB

In [9]:
list(set(blah).difference(del_15))

['b', 'a']

In [4]:
# check the column order
import pickle
X_train, X_test, y_train, y_test = pickle.load(open("../data/train_test_data.pkl", "rb"))

for col in X_train.columns:
    print(col)

peak_i15_mmh
contributingarea_km2
prophm23
dnbr1000
kf
Fine fuel load
SAV
Packing ratio
Extinction moisture content
LNDS_RISKS
fire_interval
SedUn
SuscFrac

In [3]:
# load model
import torch
import torch.nn as nn
import torch.optim as optim

In [4]:
class Net(nn.Module):
    def __init__(self, input_size, hidden_size, output_size, dropout_rate):
        super(Net, self).__init__()
        
        self.fc1 = nn.Linear(input_size, hidden_size)
        self.relu1 = nn.ReLU()
        self.dropout1 = nn.Dropout(dropout_rate) # dropout to prevent overfitting
        
        self.fc2 = nn.Linear(hidden_size, hidden_size)
        self.relu2 = nn.ReLU()
        self.dropout2 = nn.Dropout(dropout_rate) # dropout to prevent overfitting
        
#         self.fc3 = nn.Linear(hidden_size, hidden_size)
#         self.relu3 = nn.ReLU()
#         self.dropout3 = nn.Dropout(dropout_rate) # dropout to prevent overfitting

#         self.fc4 = nn.Linear(hidden_size, hidden_size)
#         self.relu4 = nn.ReLU()
#         self.dropout4 = nn.Dropout(dropout_rate) # dropout to prevent overfitting
        
        self.fc_out = nn.Linear(hidden_size, output_size)
        self.sigmoid = nn.Sigmoid() # output to probability rather than bool
        
        # Initilize weights with Glorot
        # need to decide on uniform vs normal distribution
        # UNIFORM
        nn.init.xavier_uniform_(self.fc1.weight)
        nn.init.xavier_uniform_(self.fc2.weight)
        # nn.init.xavier_uniform_(self.fc3.weight)
        # nn.init.xavier_uniform_(self.fc4.weight)
        nn.init.xavier_uniform_(self.fc_out.weight)
        
        # NORMAL
        # nn.init.xavier_normal_(self.fc1.weight)
        # nn.init.xavier_normal_(self.fc2.weight)
        # nn.init.xavier_normal_(self.fc3.weight)
        # nn.init.xavier_normal_(self.fc4.weight)
        # nn.init.xavier_normal_(self.fc_out.weight)
        
        
    def forward(self, x):
        out = self.fc1(x)
        out = self.relu1(out)
        out = self.dropout1(out)
        
        out = self.fc2(out)
        out = self.relu2(out)
        out = self.dropout2(out)
        
#         out = self.fc3(out)
#         out = self.relu3(out)
#         out = self.dropout3(out)
        
#         out = self.fc4(out)
#         out = self.relu4(out)
#         out = self.dropout4(out)
        
        out = self.fc_out(out)
        out = self.sigmoid(out)      

        return out

In [7]:
model_params = {
    'dropout_rate': 0.2,
     'features': [
         'peak_i15_mmh',
          'SuscFrac',
          'prophm23',
          'Fine fuel load',
          'Extinction moisture content',
          'SAV',
          'SedUn',
          'dnbr1000',
          'fire_interval',
          'contributingarea_km2',
          'Packing ratio',
          'LNDS_RISKS',
          'kf'],
     'hidden_size': 100,
     'lr': 0.01
}

input_size = 13
hidden_size = model_params['hidden_size']
output_size = 1
dropout_rate = model_params['dropout_rate']
learning_rate = model_params['lr']

In [8]:
model = Net(input_size, hidden_size, output_size, dropout_rate)

In [10]:
model.load_state_dict(torch.load("../model/df_model_two_hidden.pth"))

In [11]:
model.eval

<bound method Module.eval of Net(
  (fc1): Linear(in_features=13, out_features=100, bias=True)
  (relu1): ReLU()
  (dropout1): Dropout(p=0.2, inplace=False)
  (fc2): Linear(in_features=100, out_features=100, bias=True)
  (relu2): ReLU()
  (dropout2): Dropout(p=0.2, inplace=False)
  (fc_out): Linear(in_features=100, out_features=1, bias=True)
  (sigmoid): Sigmoid()
)>

In [12]:
model.state_dict()

OrderedDict([('fc1.weight',
              tensor([[-2.6873e-02, -2.4580e-01, -2.2315e-01,  ..., -6.5710e-02,
                       -7.8055e-01,  4.2797e-01],
                      [ 4.2614e-01, -6.6906e-01, -4.1993e-04,  ..., -1.3552e-01,
                       -3.0696e-01, -5.1577e-01],
                      [ 3.7397e-01,  9.9725e-02, -1.3402e-01,  ...,  1.0296e-01,
                        4.9119e-01,  4.1338e-01],
                      ...,
                      [-5.2493e-01,  2.6015e-01, -5.0051e-03,  ..., -6.9454e-02,
                        5.4605e-02,  3.4259e-01],
                      [-8.7998e-01, -6.4932e-01,  3.3507e-01,  ..., -1.0559e-01,
                       -2.9691e-01, -1.0083e+00],
                      [-2.5192e-01, -2.5571e-01, -4.5685e-01,  ..., -2.1588e-01,
                       -3.0663e-01,  8.9361e-01]])),
             ('fc1.bias',
              tensor([-0.2365, -0.2941, -0.2232, -0.8006, -0.0457, -0.5987, -0.4514, -0.0681,
                      -0.5087, -0.8260,  0.0731, -0.2194, -1.1765, -0.1184, -0.1515, -0.7149,
                      -0.5684, -0.2457, -0.4686, -0.5681, -0.1729, -0.7801, -0.4967,  0.1216,
                       0.0135, -0.3559, -0.5279, -0.4907, -0.3504, -0.0825, -0.5937, -0.3405,
                      -0.0415, -0.5291, -0.0043, -0.5243, -0.0121, -0.2648, -0.7755,  0.0409,
                      -0.3817,  0.0372, -0.0194, -0.3593,  0.0363, -0.1584, -0.1488, -0.2238,
                      -0.0715, -0.6397, -0.0821, -0.5513, -0.2746, -1.0419, -0.9016, -0.4545,
                       0.0842, -0.8410, -0.2981, -0.3179, -0.7018, -0.8368, -0.0266, -0.0724,
                      -0.1963, -0.4297,  0.0250, -0.3156, -0.7257, -0.5946, -0.3500, -0.5683,
                      -0.7217,  0.1023, -0.8867, -0.4430, -0.5771, -0.3303, -0.4987, -0.6339,
                       0.0498, -1.1735, -0.1306, -0.2679, -0.3012, -0.3145, -0.3248, -0.5837,
                      -0.6660, -0.2472,  0.0269, -0.3714, -0.2042, -0.7080,  0.0109, -0.6221,
                      -0.7982, -0.2934, -0.7343,  0.0492])),
             ('fc2.weight',
              tensor([[-0.2462, -0.0964, -0.2795,  ..., -0.1213,  0.0657,  0.5029],
                      [-0.5403,  0.0477, -0.0020,  ..., -0.4956, -0.2541, -0.0169],
                      [ 0.1911,  0.1064,  0.1739,  ..., -0.0654,  0.2075, -0.6014],
                      ...,
                      [ 0.0203,  0.0938, -0.1124,  ...,  0.0751, -0.4048,  0.0233],
                      [ 0.2394,  0.0108, -0.2517,  ...,  0.0938,  0.1423, -0.2622],
                      [-0.0256,  0.0514,  0.0015,  ..., -0.0038,  0.0735, -0.0447]])),
             ('fc2.bias',
              tensor([ 0.1453, -0.0515, -0.2235, -0.0079, -0.0886, -0.0706, -0.0983, -0.0502,
                      -0.0218, -0.4150, -0.1210, -0.2818, -0.1134, -0.0793, -0.1686, -0.1823,
                       0.3437, -0.0315, -0.1538, -0.1671,  0.3937,  0.0499,  0.1088, -0.0770,
                      -0.1581,  0.1347, -0.0356,  0.2214, -0.1257,  0.0101,  0.1841, -0.0132,
                      -0.0630,  0.0437,  0.0663, -0.1227,  0.2344, -0.0667,  0.1590,  0.1565,
                       0.0228, -0.0353,  0.0521, -0.1334, -0.0575,  0.3418, -0.2136,  0.0591,
                      -0.0367, -0.0806,  0.1705, -0.0909,  0.0491,  0.1396,  0.0033,  0.1688,
                      -0.1666,  0.0018,  0.2793,  0.0601,  0.1384,  0.1640, -0.2880,  0.1996,
                      -0.0163,  0.2199, -0.0184, -0.0370, -0.1065, -0.0960, -0.0009, -0.0894,
                      -0.0643, -0.1483,  0.1429, -0.1350,  0.2244,  0.1619,  0.2386,  0.2335,
                      -0.0093, -0.1202, -0.0060, -0.1292,  0.1084, -0.1276, -0.1840, -0.0684,
                       0.0850,  0.5429,  0.0178,  0.4275,  0.0032,  0.0123,  0.2177,  0.1478,
                       0.0037,  0.0212, -0.1404, -0.1247])),
             ('fc_out.weight',
              tensor([[ 0.6450,  0.6604,  0.9647, -0.1305,  0.2873,  0.1711,  0.7083, -1.0918,
                        1.2600,  0.6685, -1.0257, -0.8137,  0.1094, -0.0082, -0.3340, -0.8235,
                       -0.9697,  0.0507,  0.2862, -1.0944,  1.7464, -1.1726, -1.0552, -0.2445,
                       -1.3992, -0.1611, -0.9393, -0.6191, -0.0481,  0.3051,  1.3435, -1.1099,
                        0.1929,  0.3490,  0.4765, -1.0569,  0.4946,  0.0209,  0.4178,  0.4553,
                       -0.3018,  0.2283, -0.1447,  0.1328,  0.1809, -0.5139, -0.7224,  0.1486,
                        0.4152,  0.1378,  1.0298, -0.7720,  0.7659, -0.1254,  0.5233, -0.7963,
                        0.4276,  0.3967,  0.1627, -0.9045,  0.9960,  0.2415, -0.5910, -0.2318,
                       -0.3900,  1.4149, -0.6072, -0.3143, -0.6017, -0.5297,  0.9622, -0.2231,
                        0.0657,  0.1183, -0.3156,  1.0978,  0.7541,  0.6706,  0.6390, -0.4361,
                       -0.4869, -0.9772,  0.2060, -0.2812,  0.3308,  0.3253,  0.5273, -1.1600,
                       -0.4741,  1.4166,  0.7439, -0.6863, -1.2894, -0.3113,  0.4658,  0.5860,
                       -0.0428, -0.1752, -0.2691,  0.1457]])),
             ('fc_out.bias', tensor([0.1356]))])

# Prep Notebooks Rename

check na's notebooks

`data_v08_fire_interval.parquet` is when the first nulls drop off
- should be in notebook 07, check that logic and handle NA's in notebook 9

In [1]:
import os

In [5]:
prefixed = [filename for filename in os.listdir('../data') if filename.startswith("data_v")]
prefixed

['data_v01_add_site_ids.parquet',
 'data_v02_sites_catchment_fuelpars.parquet',
 'data_v03_observations_catchment_fuelpars.parquet',
 'data_v04_rocktype.parquet',
 'data_v05_rocktype_randn.parquet',
 'data_v06_geological_age.parquet',
 'data_v07_landslide.parquet',
 'data_v08_fire_interval.parquet']

In [40]:
for file in prefixed:
    data = gpd.read_parquet("../data/" + file)
    print(data.shape, file)

(1550, 28) data_v01_add_site_ids.parquet
(716, 14) data_v02_sites_catchment_fuelpars.parquet
(1550, 42) data_v03_observations_catchment_fuelpars.parquet
(1550, 44) data_v04_rocktype.parquet
(1550, 44) data_v05_rocktype_randn.parquet
(1550, 46) data_v06_geological_age.parquet
(1550, 48) data_v07_landslide.parquet
(1379, 49) data_v08_fire_interval.parquet

In [17]:
"../data/" + prefixed[0]

'../data/data_v01_add_site_ids.parquet'

In [6]:
import geopandas as gpd

In [49]:
name = prefixed[0]
print(name)

data = gpd.read_parquet("../data/" + name) 
sorted(data.columns)
#data.head()[["newarea","geometry","snapdist"]]

data_v01_add_site_ids.parquet

['SiteID',
 'acc015_mm',
 'acc030_mm',
 'acc060_mm',
 'contributingarea_km2',
 'database',
 'dnbr1000',
 'fire_id',
 'fire_name',
 'fire_segid',
 'gaugedist_m',
 'geom',
 'kf',
 'lat',
 'lon',
 'peak_i15_mmh',
 'peak_i30_mmh',
 'peak_i60_mmh',
 'prophm23',
 'response',
 'state',
 'stormaccum_mm',
 'stormavgi_mmh',
 'stormdate',
 'stormdur_h',
 'stormend',
 'stormstart',
 'year']

In [ ]:
# MISSING GEOMETRY
# last file to still have it (og file doesn't either but thats where it's generated)
last_file = "data_v03_observations_catchment_fuelpars.parquet"

# first file to not have it
# this file is created by 03_extract_rock_type.ipynb
next_file = "data_v04_rocktype.parquet"

In [ ]:
# old file names and new file names
# replaced in notebooks but haven't tested yet

files = {
    # current: new
    # prep_01
    "staley16_debrisflow.parquet": "data_v01_add_site_ids.parquet",
    # prep_02
    "staley16_sites_catchment_fuelpars_v3.parquet": "data_v02_sites_catchment_fuelpars.parquet",
    "staley16_observations_catchment_fuelpars_v3.parquet": "data_v03_observations_catchment_fuelpars.parquet",
    # prep 03
    "staley16_observations_catchment_fuelpars_rocktype_v3.parquet": "data_v04_rocktype.parquet",
    # prep 04
    "staley16_observations_catchment_fuelpars_rocktype_randn_v3.parquet", "data_v05_rocktype_randn.parquet",
    # prep 06
    "staley16_observations_catchment_fuelpars_rocktype_randn_rockAge_v4.parquet", "data_v06_geological_age.parquet",
    # prep 07
    "staley16_observations_catchment_fuelpars_rocktype_randn_lndslide_v5.parquet", "data_v07_landslide.parquet",
    # prep 08
    "staley16_observations_catchment_fuelpars_rocktype_randn_lndslide_fireinterval_v6.parquet", "data_v08_fire_interval.parquet",
    # prep 09
    "": "",
    "": "",
    "": "",
    "", "",
    "", "",
    "", "",
    "", "",
    
    
}

In [1]:
import pandas as pd

In [5]:
file = "../data/ofr20161106_appx-1.xlsx"
xl = pd.ExcelFile(file)
sheets = xl.sheet_names
raw_data = pd.read_excel(file, sheet_name=sheets[1])
raw_data.head()

,Fire Name,Year,Fire_ID,Fire_SegID,Database,State,UTM_Zone,UTM_X,UTM_Y,Response,...,Peak_I15_mm/h,Peak_I30_mm/h,Peak_I60_mm/h,ContributingArea_km2,PropHM23,dNBR/1000,KF,Acc015_mm,Acc030_mm,Acc060_mm
0,Buckweed,2007,bck,bck_1035,Training,CA,11,368133.5165,3823231.989,0,...,3.2,2.0,2.0,0.378767,0.217933,0.297853,0.250000,0.8,1.0,2.0
1,Buckweed,2007,bck,bck_1090,Training,CA,11,367871.0165,3822984.489,0,...,3.2,2.0,2.0,0.689615,0.061249,0.224896,0.250000,0.8,1.0,2.0
2,Buckweed,2007,bck,bck_1570,Training,CA,11,367503.5165,3821741.989,0,...,3.2,2.0,2.0,2.757312,0.042968,0.065537,0.248541,0.8,1.0,2.0
3,Buckweed,2007,bck,bck_235,Training,CA,11,371108.5165,3824991.989,0,...,1.6,1.2,0.8,0.613415,0.092164,0.141711,0.250000,0.4,0.6,0.8
4,Buckweed,2007,bck,bck_363,Training,CA,11,370763.5165,3824576.989,0,...,1.6,1.2,0.8,0.538875,0.058353,0.210158,0.250000,0.4,0.6,0.8

In [6]:
raw_data.isna().sum()

Fire Name                 0
Year                      0
Fire_ID                   0
Fire_SegID                0
Database                  0
State                     0
UTM_Zone                  0
UTM_X                     0
UTM_Y                     0
Response                  0
StormDate                 0
GaugeDist_m               0
StormStart              160
StormEnd                160
StormDur_H                0
StormAccum_mm             0
StormAvgI_mm/h            0
Peak_I15_mm/h           230
Peak_I30_mm/h           214
Peak_I60_mm/h           256
ContributingArea_km2      0
PropHM23                  0
dNBR/1000                77
KF                        0
Acc015_mm               230
Acc030_mm               214
Acc060_mm               256
dtype: int64

In [26]:
# I feel like we could impute these
raw_data[raw_data['dNBR/1000'].isna()]['Response'].value_counts()

0    59
1    18
Name: Response, dtype: int64

In [12]:
raw_data[raw_data['Peak_I15_mm/h'].isna()]['Response'].value_counts()

0    230
Name: Response, dtype: int64

In [13]:
raw_data[raw_data['Peak_I30_mm/h'].isna()]['Response'].value_counts()

0    208
1      6
Name: Response, dtype: int64

In [16]:
raw_data[raw_data['Peak_I30_mm/h'].isna()].shape

(214, 27)

In [15]:
raw_data[raw_data['Peak_I30_mm/h'].isna()]['Peak_I15_mm/h'].isna().sum()

185

In [22]:
raw_data[(raw_data['Peak_I30_mm/h'].isna()) & (raw_data['Peak_I15_mm/h'].notna())]['Response'].value_counts()

0    23
1     6
Name: Response, dtype: int64

In [23]:
raw_data[(raw_data['Peak_I60_mm/h'].isna()) & (raw_data['Peak_I15_mm/h'].notna())]['Response'].value_counts()

0    100
1     34
Name: Response, dtype: int64

In [12]:
import sys
sys.path.append("../model/")
from ModelNN import Net

In [19]:
from ModelNN import OneLayer

In [25]:
import ModelNN as net

In [27]:
net.OneLayer(

TypeError: OneLayer.__init__() missing 4 required positional arguments: 'input_size', 'hidden_size', 'output_size', and 'dropout_rate'

In [10]:
from ..model.ModelNN import Net

ImportError: attempted relative import with no known parent package

In [ ]:
from

In [7]:
import ..model.ModelNN

SyntaxError: invalid syntax (2752027499.py, line 1)

In [ ]:
# WORKING CODE

%%time
# GRID SEARCH CV for hyperpameters

if __name__ == '__main__':
    # data already loaded

    #scale the data X_train and X_test
    cols = X_train_df.columns
    sc = StandardScaler()
    # the "scaled" objects are still dataframes
    X_train_scaled = pd.DataFrame(sc.fit_transform(X_train_df), columns=cols)
    X_test_scaled = pd.DataFrame(sc.transform(X_test_df), columns=cols)
    
    # convert to tensor objects
    X_train_tensor = torch.tensor(X_train_scaled.values).float()
    y_train_tensor = torch.tensor(y_train_df.values).float().view(-1, 1)
    X_test_tensor = torch.tensor(X_test_scaled.values).float()
    y_test_tensor = torch.tensor(y_test_df.values).float().view(-1, 1)

    # GRID SEARCH
    # these are the hyperparameters to search through
    param_grid = {
    'hidden_size': [10, 50, 100, 250, 500],
    'dropout_rate': [0.05, 0.10, 0.15, 0.20],
    'lr': [0.0001, 0.001, 0.01],
    }
    
    # instantiate zero-based values to improve upon and log
    best_accuracy = 0.0
    best_recall = 0.0
    best_auc = 0.0
    best_params ={}
    
    for params in ParameterGrid(param_grid):
        input_size = X_train_df.shape[1]
        hidden_size = params['hidden_size']
        output_size = 1 # for our uses this will always be 0ne
        dropout_rate = params['dropout_rate']
        learning_rate = params['lr']

        # instantiate the model class
        #model = Net.OneLayer(input_size, hidden_size, output_size, dropout_rate)
        model = Net.TwoLayer(input_size, hidden_size, output_size, dropout_rate)
        #model = Net.ThreeLayer(input_size, hidden_size, output_size, dropout_rate)

        criterion = nn.BCELoss()  # cross-entropy better suited for binary classification than MSE
        optimizer = optim.Adam(model.parameters(), lr=learning_rate)  
        
        # best_params = grid_search.best_params_
        # best_model = grid_search.best_estimator_
     
        num_epochs = n_epochs

        # # empty df to track loss over epochs
        # loss_df = pd.DataFrame(columns=['train_loss', 'test_loss'])
        
        n = 0
        for epoch in range(num_epochs):
            y_train_pred_proba = model(X_train_tensor)
            loss = criterion(y_train_pred_proba, y_train_tensor)
            optimizer.zero_grad()
            loss.backward()
            optimizer.step()
            # n += 1
            # print(n)            
            

        ## now "final" probability outputs from trained model ##
        y_train_pred_proba = model(X_train_tensor)
        y_test_pred_proba = model(X_test_tensor)     
        
        # loss on the final output
        # this isn't really meaningful without seeing change over epochs 
        # occasionally handy to reference
        train_loss = criterion(y_train_pred_proba, y_train_tensor)
        val_loss = criterion(y_test_pred_proba, y_test_tensor)

        # # convert these values back to pandas dtypes
        y_train_pred_proba = y_train_pred_proba.detach().numpy()
        y_test_pred_proba = y_test_pred_proba.detach().numpy()   
        # also get their boolean values
        # simply if a probability is above .5 it predicts a 1
        #y_train_pred_bool = np.round(y_train_pred_proba.detach().numpy()).flatten()
        #y_test_pred_bool = np.round(y_test_pred_proba.detach().numpy()).flatten()
        y_train_pred_bool = np.round(y_train_pred_proba)
        y_test_pred_bool = np.round(y_test_pred_proba)
        
        # calculate accuracy
        test_pred_correct = sum(y_test_df == y_test_pred_bool.flatten())
        test_accuracy = (test_pred_correct / y_test_df.shape[0])
        
        # calculate recall
        test_recall_score = recall_score(y_test_df, y_test_pred_bool, average='binary')
        
        # extract AUC for printing
        auc_test = roc_auc_score(
            y_test_df, 
            y_test_pred_proba
        )
        
        # multiple criteria options for optimizing the network
        ## accuracy
        ## recall (minimize false negatives)
        ## AUC
        
#         # evaluating parameters on test accuracy
#         if test_accuracy > best_accuracy:
#             best_accuracy = test_accuracy
#             best_params = params

#         # evaluating parameters on test recall
#         if test_recall_score > best_recall:
#             best_recall = test_recall_score
#             best_params = params
        
        # evaluating parameters on test AUC
        if auc_test > best_auc:
            best_auc = auc_test
            best_params = params

    # save final model weights
    # model_name = "model"
    # torch.save(model.state_dict(), f'{model_name}.pth')     
    
    print('best hyperparameters:')
    print(best_params)
    
    print(f'Training loss: {train_loss}')
    print(f'Validation loss: {val_loss}')

    print("\n")
    
    # accuracy #
    # training accuracy
    train_pred_correct = sum(y_train_df == y_train_pred_bool.flatten())
    train_accuracy = (train_pred_correct / y_train_df.shape[0])
    print(f'Training accuracy: {train_accuracy}')
    # testing accuracy
    test_pred_correct = sum(y_test_df == y_test_pred_bool.flatten())
    test_accuracy = (test_pred_correct / y_test_df.shape[0])
    print(f'Test accuracy: {test_accuracy}')
    
    # Recall
    print("\n")
    print(f'Test Recall: {test_recall_score}')
    
    # AUC
    print("\n")
    print(f'Test AUC: {auc_test}')
    # f1
    f1_output = f1_score(y_test_df, y_test_pred_bool)
    print("\n")
    print(f'Test F1 Score: {f1_output}')

In [ ]:
%%time
# GRID SEARCH CV top optimize feature selection

# 15 MIN
if __name__ == '__main__':

    # GRID SEARCH
    param_grid = {
    'hidden_size': [10, 50, 100, 250, 500],
    'dropout_rate': [0.05, 0.10, 0.15, 0.20],
    'lr': [0.0001, 0.001, 0.01],
    'features': feat_of_feats # list of lists
    }
    
    best_accuracy = 0.0
    best_recall = 0.0
    best_auc = 0.0
    best_params ={}
    
    for params in ParameterGrid(param_grid):
        
        # Load data
        
        # splitting already conducted
        # using df objects to avoid tensor issues
        X_train = X_train_df[params['features']]
        X_test = X_test_df[params['features']]
        y_train = y_train_df
        y_test = y_test_df

        #scale the data X_train and X_test
        cols = X_train.columns
        sc = StandardScaler()
        X_train = pd.DataFrame(sc.fit_transform(X_train), columns=cols)
        X_test = pd.DataFrame(sc.transform(X_test), columns=cols)

        X_train_tensor = torch.tensor(X_train.values).float()
        y_train_tensor = torch.tensor(y_train.values).float().view(-1, 1)
        X_test_tensor = torch.tensor(X_test.values).float()
        y_test_tensor = torch.tensor(y_test.values).float().view(-1, 1)
        
        
        input_size = X_train.shape[1]
        hidden_size = params['hidden_size']
        output_size = 1
        dropout_rate = params['dropout_rate']
        learning_rate = params['lr']

        # instantiate the model class
        #model = Net.OneLayer(input_size, hidden_size, output_size, dropout_rate)
        model = Net.TwoLayer(input_size, hidden_size, output_size, dropout_rate)
        #model = Net.ThreeLayer(input_size, hidden_size, output_size, dropout_rate)

        criterion = nn.BCELoss()  # cross-entropy better suited for binary classification than MSE
        optimizer = optim.Adam(model.parameters(), lr=learning_rate)  
         
        ## Train the Model ##
        
        # this is redundant but can be handy for dev
        num_epochs = n_epochs

        for epoch in range(num_epochs):
            y_train_pred_proba = model(X_train_tensor)
            loss = criterion(y_train_pred_proba, y_train_tensor)
            optimizer.zero_grad()
            loss.backward()
            optimizer.step()


        # now "final" outputs
        y_train_pred_proba = model(X_train_tensor)
        y_test_pred_proba = model(X_test_tensor)

        # loss on the final output
        # this isn't really meaningful without seeing change over epochs 
        # occasionally handy to reference
        train_loss = criterion(y_train_pred_proba, y_train_tensor)
        val_loss = criterion(y_test_pred_proba, y_test_tensor)

        # # convert these values back to pandas dtypes
        y_train_pred_proba = y_train_pred_proba.detach().numpy()
        y_test_pred_proba = y_test_pred_proba.detach().numpy()   
        # also get their boolean values
        # simply if a probability is above .5 it predicts a 1
        y_train_pred_bool = np.round(y_train_pred_proba)
        y_test_pred_bool = np.round(y_test_pred_proba)   
        
   
        # calculate accuracy
        test_pred_correct = sum(y_test == y_test_pred_bool.flatten())
        test_accuracy = (test_pred_correct / y_test.shape[0])
        
        # calculate recall
        test_recall_score = recall_score(y_test, y_test_pred_bool, average='binary')
        
        # extract AUC for printing
        auc_test = roc_auc_score(
            y_test, 
            y_test_pred_proba
        )

        # multiple criteria options for optimizing the network
        ## accuracy
        ## recall (minimize false negatives)
        ## AUC
        
        # # evaluating parameters on test accuracy
        # if test_accuracy > best_accuracy:
        #     best_accuracy = test_accuracy
        #     best_params = params

        # # evaluating parameters on test recall
        # if test_recall_score > best_recall:
        #     best_recall = test_recall_score
        #     best_params = params

        # evaluating parameters on test AUC
        if auc_test > best_auc:
            best_auc = auc_test
            best_params = params

    # save final model weights
    # model_name = "model"
    # torch.save(model.state_dict(), f'{model_name}.pth')      
    
    print('with feature selection')
    print('best hyperparameters:')
    print(best_params)
    
    print(f'Training loss: {train_loss}')
    print(f'Validation loss: {val_loss}')

    print("\n")

    ## accuracy ##
    # training accuracy
    train_pred_correct = sum(y_train == y_train_pred_bool.flatten())
    train_accuracy = (train_pred_correct / y_train.shape[0])
    print(f'Training accuracy: {train_accuracy}')
    # testing accuracy
    test_pred_correct = sum(y_test == y_test_pred_bool.flatten())
    test_accuracy = (test_pred_correct / y_test.shape[0])
    print(f'Test accuracy: {test_accuracy}')
    
    # Recall
    test_recall_score = recall_score(y_test, y_test_pred_bool.flatten(), average='binary')
    print("\n")
    print(f'Test Recall: {test_recall_score}')    
    
    # AUC
    print("\n")
    print(f'Test AUC): {auc_test}')
    # f1
    f1_output = f1_score(y_test, y_test_pred_bool)
    print(f'Test F1 Score: {f1_output}')

# Fire Interval

In [53]:
import pandas as pd
file = "../data/ofr20161106_appx-1.xlsx"
xl = pd.ExcelFile(file)
sheets = xl.sheet_names
staley = pd.read_excel(file, sheet_name=sheets[1])
staley

,Fire Name,Year,Fire_ID,Fire_SegID,Database,State,UTM_Zone,UTM_X,UTM_Y,Response,...,Peak_I15_mm/h,Peak_I30_mm/h,Peak_I60_mm/h,ContributingArea_km2,PropHM23,dNBR/1000,KF,Acc015_mm,Acc030_mm,Acc060_mm
0,Buckweed,2007,bck,bck_1035,Training,CA,11,368133.5165,3823231.989,0,...,3.2,2.0,2.0,0.378767,0.217933,0.297853,0.250000,0.80,1.0,2.0
1,Buckweed,2007,bck,bck_1090,Training,CA,11,367871.0165,3822984.489,0,...,3.2,2.0,2.0,0.689615,0.061249,0.224896,0.250000,0.80,1.0,2.0
2,Buckweed,2007,bck,bck_1570,Training,CA,11,367503.5165,3821741.989,0,...,3.2,2.0,2.0,2.757312,0.042968,0.065537,0.248541,0.80,1.0,2.0
3,Buckweed,2007,bck,bck_235,Training,CA,11,371108.5165,3824991.989,0,...,1.6,1.2,0.8,0.613415,0.092164,0.141711,0.250000,0.40,0.6,0.8
4,Buckweed,2007,bck,bck_363,Training,CA,11,370763.5165,3824576.989,0,...,1.6,1.2,0.8,0.538875,0.058353,0.210158,0.250000,0.40,0.6,0.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1545,Wallow,2011,wlw,wlw_47409,Test,AZ,12,660698.3581,3725248.835,0,...,14.0,8.0,NaN,1.554356,0.009801,0.187053,0.000000,3.50,4.0,NaN
1546,Wallow,2011,wlw,wlw_47535,Test,AZ,12,660178.3581,3725128.835,0,...,63.0,54.0,39.0,0.683425,0.001571,0.500223,0.000000,15.75,27.0,39.0
1547,Wallow,2011,wlw,wlw_47535,Test,AZ,12,660178.3581,3725128.835,0,...,29.0,16.0,NaN,0.683425,0.001571,0.500223,0.000000,7.25,8.0,NaN
1548,Wallow,2011,wlw,wlw_47535,Test,AZ,12,660178.3581,3725128.835,0,...,25.0,16.0,NaN,0.683425,0.001571,0.500223,0.000000,6.25,8.0,NaN
1549,Wallow,2011,wlw,wlw_47535,Test,AZ,12,660178.3581,3725128.835,0,...,14.0,8.0,NaN,0.683425,0.001571,0.500223,0.000000,3.50,4.0,NaN

In [54]:
sorted(staley.columns)

['Acc015_mm',
 'Acc030_mm',
 'Acc060_mm',
 'ContributingArea_km2',
 'Database',
 'Fire Name',
 'Fire_ID',
 'Fire_SegID',
 'GaugeDist_m',
 'KF',
 'Peak_I15_mm/h',
 'Peak_I30_mm/h',
 'Peak_I60_mm/h',
 'PropHM23',
 'Response',
 'State',
 'StormAccum_mm',
 'StormAvgI_mm/h',
 'StormDate',
 'StormDur_H',
 'StormEnd',
 'StormStart',
 'UTM_X',
 'UTM_Y',
 'UTM_Zone',
 'Year',
 'dNBR/1000']

In [61]:
cols = [
    'Year', # year of wildfire
    'StormDate', # date of storm that produced debris-flow response
    'StormStart', # date and time that storm started
    'StormEnd', # date and time that storm ended
    # 'StormAccum_mm',
    # 'StormAvgI_mm/h',
    # 'StormDur_H',
    # 'Peak_I15_mm/h',
]

staley[cols]

      Year            StormDate          StormStart            StormEnd
0     2007  2008-01-22 00:00:00 2008-01-21 16:27:00 2008-01-22 19:20:00
1     2007  2008-01-22 00:00:00 2008-01-21 16:27:00 2008-01-22 19:20:00
2     2007  2008-01-22 00:00:00 2008-01-21 16:27:00 2008-01-22 19:20:00
3     2007  2008-01-22 00:00:00 2008-01-21 15:47:00 2008-01-22 19:39:00
4     2007  2008-01-22 00:00:00 2008-01-21 15:47:00 2008-01-22 19:39:00
...    ...                  ...                 ...                 ...
1545  2011  2011-09-07 00:00:00 2011-09-07 15:00:00 2011-09-07 15:55:00
1546  2011  2011-07-11 00:00:00 2011-07-11 14:45:00 2011-07-11 16:15:00
1547  2011  2011-07-26 00:00:00 2011-07-26 10:45:00 2011-07-26 11:45:00
1548  2011  2011-08-15 00:00:00 2011-08-15 11:00:00 2011-08-15 12:00:00
1549  2011  2011-09-07 00:00:00 2011-09-07 15:00:00 2011-09-07 15:55:00

[1550 rows x 4 columns]

In [64]:
staley[staley['StormStart'].isna()][cols]

      Year            StormDate StormStart StormEnd
26    2000  2001-07-15 00:00:00        NaT      NaT
27    2000  2001-07-15 00:00:00        NaT      NaT
28    2000  2001-07-15 00:00:00        NaT      NaT
29    2000  2001-07-15 00:00:00        NaT      NaT
30    2000  2001-07-15 00:00:00        NaT      NaT
...    ...                  ...        ...      ...
1415  2000  2001-07-15 00:00:00        NaT      NaT
1416  2000  2001-07-15 00:00:00        NaT      NaT
1417  2000  2001-07-15 00:00:00        NaT      NaT
1418  2000  2001-07-15 00:00:00        NaT      NaT
1419  2000  2001-07-15 00:00:00        NaT      NaT

[160 rows x 4 columns]

In [65]:
# these NANs are causing downstream effect unecessarily

# and for some reason storm date gets parsed incorrectly at some point

prefixed = [filename for filename in os.listdir('../data') if filename.startswith("data_v")]
prefixed

for file in prefixed:
    data = gpd.read_parquet("../data/" + file)
    print(data.shape, file)

(1550, 28) data_v01_add_site_ids.parquet
(716, 14) data_v02_sites_catchment_fuelpars.parquet
(1550, 42) data_v03_observations_catchment_fuelpars.parquet
(1550, 44) data_v04_rocktype.parquet
(1550, 44) data_v05_rocktype_randn.parquet
(1550, 46) data_v06_geological_age.parquet
(1550, 48) data_v07_landslide.parquet
(1379, 49) data_v08_fire_interval.parquet
(1376, 25) data_v09_consolidated.parquet

In [66]:
import geopandas as gpd

In [77]:
# it's the first notebook that does it

idx = 0
check = gpd.read_parquet("../data/" + prefixed[idx])
check['stormdate']

0       22
1       22
2       22
3       22
4       22
        ..
1545     7
1546    11
1547    26
1548    15
1549     7
Name: stormdate, Length: 1550, dtype: int64

In [80]:
pd.to_datetime(staley['StormStart']).dt.year.value_counts()

2010.0    326
2009.0    274
2002.0    273
2008.0    130
2003.0     78
2013.0     78
2011.0     69
2006.0     68
2012.0     35
2005.0     31
2007.0     17
2000.0     11
Name: StormStart, dtype: int64

In [101]:
idx = [
    #621, # this is a fine one
    622,  
    626,
    627,
    632,
    635,
]

check = staley.loc[idx,['StormDate']]
check

          StormDate
622  9/10-9/12/2002
626  9/10-9/12/2002
627  9/10-9/12/2002
632  9/10-9/12/2002
635  9/10-9/12/2002

In [113]:
# select records that aren't datetime
sel=staley["StormDate"].apply(lambda x: type(x) == str)
check = staley.loc[sel,["StormDate"]]
check

          StormDate
622  9/10-9/12/2002
626  9/10-9/12/2002
627  9/10-9/12/2002
632  9/10-9/12/2002
635  9/10-9/12/2002

In [117]:
import datetime

In [118]:
# A function that converts these date ranges into day (based on first day of storm)

def fix_stormdate(instr):
    year=int(instr.split("/")[-1])
    month=int(instr.split("/")[1].split("-")[0])
    day=int(instr.split("/")[0])
    return datetime.date(year, month, day)
    #return dt.date(year, month, day)

In [142]:
pd.to_datetime(check['StormDate'].apply(fix_stormdate))

622   2002-10-09
626   2002-10-09
627   2002-10-09
632   2002-10-09
635   2002-10-09
Name: StormDate, dtype: datetime64[ns]

In [146]:
check['StormDate'].apply(fix_stormdate)[622]

datetime.date(2002, 10, 9)

In [150]:
pd.to_datetime(staley.loc[0, "StormDate"]).date()

datetime.date(2008, 1, 22)

In [151]:
staley.loc[sel, "StormDate"] = staley.loc[sel, "StormDate"].apply(fix_stormdate)

In [165]:
staley['StormDate'] = pd.to_datetime(staley['StormDate']).dt.date

staley['StormDate']

0       2008-01-22
1       2008-01-22
2       2008-01-22
3       2008-01-22
4       2008-01-22
           ...
1545    2011-09-07
1546    2011-07-11
1547    2011-07-26
1548    2011-08-15
1549    2011-09-07
Name: StormDate, Length: 1550, dtype: object

In [168]:
pd.to_datetime(staley['StormDate']).dt.year

0       2008
1       2008
2       2008
3       2008
4       2008
        ...
1545    2011
1546    2011
1547    2011
1548    2011
1549    2011
Name: StormDate, Length: 1550, dtype: int64