In [1]:
from dask.distributed import Client

In [1]:
import pandas as pd

In [13]:
tabula.__version__

'2.6.0'

In [7]:
import tabula

In [2]:
# file = "../data/[file_name].xlsx"
# xl = pd.ExcelFile(file)
# sheets = xl.sheet_names  # see all sheet names
# sheets

In [9]:
tabula.io.read_pdf?

In [11]:
file = "../data/LF20_F40ADD_220.pdf"
data_dict = tabula.io.read_pdf(file, pages='all')
data_dict

Got stderr: Feb 02, 2023 2:09:47 PM org.apache.pdfbox.pdmodel.font.FileSystemFontProvider loadDiskCache
WARNING: New fonts found, font cache will be re-built
Feb 02, 2023 2:09:47 PM org.apache.pdfbox.pdmodel.font.FileSystemFontProvider <init>
WARNING: Building on-disk font cache, this may take a while
Feb 02, 2023 2:09:48 PM org.apache.pdfbox.pdmodel.font.FileSystemFontProvider <init>
WARNING: Finished building on-disk font cache, found 784 fonts

[   LANDFIRE Fire Behavior Fuel Model 40 Attribute Data Dictionary  \
 0                                                 NaN
 1                                           Attribute
 2                                                 NaN
 3                                               VALUE
 4                                               -9999
 5                                                  91
 6                                                  92
 7                                                  93
 8                                                  98
 9                                                  99
 10                                                101
 11                                                102
 12                                                103
 13                                                104
 14                                                105
 15                                                106
 16                                                107
 17                                                108
 18                                                109
 19                                                121
 20                                                122
 21                                                123
 22                                                124
 23                                                141
 24                                                142
 25                                                143
 26                                                144
 27                                                145
 28                                                146
 29                                                147
 30                                                148
 31                                                149
 32                                                161
 33                                                162
 34                                                163
 35                                                164
 36                                                165
 37                                                181
 38                                                182
 39                                                183
 40                                                184
 41                                                185
 42                                                186
 43                                                187
 44                                                188
 45                                                189
 46                                                201

                                            Unnamed: 0
 0                                                 NaN
 1                                         Description
 2                                                 NaN
 3   These fire behavior fuel models represent dist...
 4                                       Fill - NoData
 5                                                 NB1
 6                                                 NB2
 7                                                 NB3
 8                                                 NB8
 9                                                 NB9
 10                                                GR1
 11                                                GR2
 12                                                GR3
 13                                                GR4
 14                                                GR5
 15                                                GR6
 16                                                GR7
 17                                                GR8
 18                                                GR9
 19                                                GS1
 20                                                GS2
 21                                                GS3
 22                                                GS4
 23                                                SH1
 24                                                SH2
 25                                                SH3
 26                                                SH4
 27                                                SH5
 28                                                SH6
 29                                                SH7
 30                                                SH8
 31                                                SH9
 32                                                TU1
 33                                                TU2
 34                                                TU3
 35                                                TU4
 36                                                TU5
 37                                                TL1
 38                                                TL2
 39                                                TL3
 40                                                TL4
 41                                                TL5
 42                                                TL6
 43                                                TL7
 44                                                TL8
 45                                                TL9
 46                                                SB1  ,
       202                                                SB2
 0     203                                                SB3
 1     204                                                SB4
 2     NaN                                                NaN
 3   Count       number of pixels for the corresponding value
 4     NaN                                                NaN
 5    FBFM                Display attribute. FBFM Description
 6     NB1                                    Urban/Developed
 7     NB2                                           Snow/Ice
 8     NB3                                       Agricultural
 9     NB8                                         Open Water
 10    NB9                                             Barren
 11    GR1  Short, sparse dry climate grass is short, natu...
 12    GR2  Low load, dry climate grass primarily grass wi...
 13    GR3  Low load, very coarse, humid climate grass con...
 14    GR4  Moderate load, dry climate grass, continuous, ...
 15    GR5  Low load, humid climate grass, fuelbed depth i...
 16    GR6  Moderate load, continuous humid climate grass,...
 17    GR7  High load, continuous dry climate grass, grass...
 18    GR8  High load, very coarse, continuous, humid clim...
 19    GR9  Very high load, dense, tall, humid climate gra...
 20    GS1  Low load, dry climate grass-shrub shrub about ...
 21    GS2  Moderate load, dry climate grass-shrub, shrubs...
 22    GS3  Moderate load, humid climate grass-shrub, mode...
 23    GS4  High load, humid climate grass-shrub, heavy gr...
 24    SH1  Low load dry climate shrub, woody shrubs and s...
 25    SH2  Moderate load dry climate shrub, woody shrubs ...
 26    SH3  Moderate load, humid climate shrub, woody shru...
 27    SH4  Low load, humid climate timber shrub, woody sh...
 28    SH5  High load, dry climate shrub litter and woody ...
 29    SH6  Low load, humid climate shrub, woody shrubs an...
 30    SH7  Very high load, dry climate shrub, woody shrub...
 31    SH8  High load, humid climate shrub, woody shrubs a...,
                                                   SH9  \
 0                                                 TU1
 1                                                 TU2
 2                                                 TU3
 3                                                 TU4
 4                                                 TU5
 5                                                 TL1
 6                                                 TL2
 7                                                 TL3
 8                                                 TL4
 9                                                 TL5
 10                                                TL6
 11                                                TL7
 12                                                TL8
 13                                                TL9
 14                                                SB1
 15                                                SB2
 16                                                SB3
 17                                                SB4
 18                                                NaN
 19                                                  R
 20                                                  G
 21                                                  B
 22                                                RED
 23                                              GREEN
 24                                               BLUE
 25                                                NaN
 26  For more information, refer to: https://www.fs...
 27                                                NaN

    Very high load, humid climate shrub, woody shrubs and shrub litter, dense finely branched shrubs with fine\rdead fuel, 4-6 feet tall, herbaceous may be present, spread rate and flame high
 0   Low load dry climate timber grass shrub, low l...
 1   Moderate load, humid climate timber-shrub, mod...
 2   Moderate load, humid climate timber grass shru...
 3   Dwarf conifer with understory, short conifer t...
 4   Very high load, dry climate timber shrub, heav...
 5   Low load compact conifer litter, compact fores...
 6   Low load broadleaf litter, broadleaf, hardwood...
 7   Moderate load conifer litter, moderate load co...
 8   Small downed logs moderate load of fine litter...
 9   High load conifer litter, light slash or dead ...
 10  Moderate load broadleaf litter, spread rate an...
 11  Large downed logs, heavy load forest litter, l...
 12  Long needle litter, moderate load long needle ...
 13  Very high load broadleaf litter, may be heavy ...
 14  Low load activity fuel, light dead and down ac...
 15  Moderate load activity fuel or low load blowdo...
 16  High load activity fuel or moderate load blowd...
 17  High load blowdown, heavy blowdown fuel, blowd...
 18                                                NaN
 19                      Red color value range 0 - 255
 20                    Green color value range 0 - 255
 21                     Blue color value range 0 - 255
 22                        Red color value range 0 - 1
 23                      Green color value range 0 - 1
 24                       Blue color value range 0 - 1
 25                                                NaN
 26                                                NaN
 27                                                NaN                                                                                                                                           ]

In [3]:
file = "../data/LF20_F40_220.csv"
raw_data = pd.read_csv(file)
raw_data.head()

   VALUE FBFM40    R    G    B       RED     GREEN      BLUE
0     91    NB1  104  104  104  0.407843  0.407843  0.407843
1     92    NB2  225  225  225  0.882353  0.882353  0.882353
2     93    NB3  255  237  237  1.000000  0.929412  0.929412
3     98    NB8    0   14  214  0.000000  0.054902  0.839216
4     99    NB9   77  110  112  0.301961  0.431373  0.439216

In [16]:
raw_data.shape

(46, 8)

In [14]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46 entries, 0 to 45
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   VALUE   46 non-null     int64
 1   FBFM40  46 non-null     object
 2   R       46 non-null     int64
 3   G       46 non-null     int64
 4   B       46 non-null     int64
 5   RED     46 non-null     float64
 6   GREEN   46 non-null     float64
 7   BLUE    46 non-null     float64
dtypes: float64(3), int64(4), object(1)
memory usage: 3.0+ KB

In [9]:
list(set(blah).difference(del_15))

['b', 'a']