# Time between Last Fire and Debris flow

- calculate the time between events to include as a feature
    - could be a good parameter for the model and for users in the final data product
- also desire to calculate the NUMBER of fires in the site

In [1]:
import os
import pandas as pd
import geopandas as gpd
import datetime as dt

# import requests, json, folium

In [2]:
dz = modelDataI=gpd.read_parquet("../../data/data_v07_landslide.parquet")
print('raw data -',dz.shape)
dz = dz[dz.isna().any(axis=1)]
print('with some na -',dz.shape)
dz

raw data - (1550, 48)
with some na - (461, 48)

,fire_name,year,fire_id,fire_segid,database,state,response,stormdate,gaugedist_m,stormstart,...,Extinction moisture content,Igneous,Metamorphic,Sedimentary,Unconsolidated,domrt,index_right,LNDS_RISKV,LNDS_RISKS,LNDS_RISKR
26,Bear,2000,br,br_1529,Test,ID,1,15,972.417552,NaT,...,20.968025,0.483284,0.516716,0.0,0.0,Metamorphic,1639,35718.759177,71.763572,Relatively Low
27,Bear,2000,br,br_1591,Test,ID,1,15,1406.170000,NaT,...,18.123494,0.000000,1.000000,0.0,0.0,Metamorphic,1639,35718.759177,71.763572,Relatively Low
28,Bear,2000,br,br_1675,Test,ID,1,15,1773.310000,NaT,...,17.837838,0.000000,1.000000,0.0,0.0,Metamorphic,1639,35718.759177,71.763572,Relatively Low
29,Bear,2000,br,br_1681,Test,ID,1,15,3109.310000,NaT,...,16.784238,0.000000,1.000000,0.0,0.0,Metamorphic,1639,35718.759177,71.763572,Relatively Low
30,Bear,2000,br,br_1752,Test,ID,1,15,2168.190000,NaT,...,17.229704,0.000000,1.000000,0.0,0.0,Metamorphic,1639,35718.759177,71.763572,Relatively Low
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1544,Wallow,2011,wlw,wlw_47409,Test,AZ,0,15,2706.250000,2011-08-15 11:00:00,...,19.422728,1.000000,0.000000,0.0,0.0,Igneous,102,245876.108811,94.282043,Relatively Moderate
1545,Wallow,2011,wlw,wlw_47409,Test,AZ,0,7,2706.250000,2011-09-07 15:00:00,...,19.422728,1.000000,0.000000,0.0,0.0,Igneous,102,245876.108811,94.282043,Relatively Moderate
1547,Wallow,2011,wlw,wlw_47535,Test,AZ,0,26,2891.750000,2011-07-26 10:45:00,...,18.278098,1.000000,0.000000,0.0,0.0,Igneous,102,245876.108811,94.282043,Relatively Moderate
1548,Wallow,2011,wlw,wlw_47535,Test,AZ,0,15,2891.750000,2011-08-15 11:00:00,...,18.278098,1.000000,0.000000,0.0,0.0,Igneous,102,245876.108811,94.282043,Relatively Moderate
1549,Wallow,2011,wlw,wlw_47535,Test,AZ,0,7,2891.750000,2011-09-07 15:00:00,...,18.278098,1.000000,0.000000,0.0,0.0,Igneous,102,245876.108811,94.282043,Relatively Moderate

In [3]:
# count the number of na columns for a particular row
dz['cols_na'] = dz.isna().sum(axis=1) #.value_counts().sort_index()

/opt/conda/lib/python3.10/site-packages/geopandas/geodataframe.py:1443: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)

In [21]:
dz['cols_na'].value_counts(normalize=True).sort_index()

1    0.110629
2    0.381779
3    0.047722
4    0.184382
5    0.008677
6    0.004338
8    0.262473
Name: cols_na, dtype: float64

In [4]:
dz[dz['cols_na'] == 1]['dnbr1000']

42    NaN
51    NaN
468   NaN
469   NaN
470   NaN
471   NaN
472   NaN
473   NaN
474   NaN
475   NaN
476   NaN
477   NaN
478   NaN
479   NaN
480   NaN
481   NaN
482   NaN
483   NaN
484   NaN
485   NaN
486   NaN
487   NaN
488   NaN
489   NaN
490   NaN
491   NaN
492   NaN
493   NaN
494   NaN
495   NaN
496   NaN
716   NaN
717   NaN
718   NaN
726   NaN
727   NaN
728   NaN
767   NaN
768   NaN
777   NaN
778   NaN
782   NaN
783   NaN
792   NaN
793   NaN
797   NaN
798   NaN
802   NaN
803   NaN
807   NaN
808   NaN
Name: dnbr1000, dtype: float64

In [5]:
dz.shape

(461, 49)

In [6]:
dz[['peak_i30_mmh', 'peak_i60_mmh']].isna().sum()

peak_i30_mmh    214
peak_i60_mmh    256
dtype: int64

In [7]:
dz[dz['cols_na'] == 2].iloc[-2,:]
#dz[dz['cols_na'] == 2][['stormstart', 'stormend']]

fire_name                                                             Wallow
year                                                                    2011
fire_id                                                                  wlw
fire_segid                                                         wlw_47535
database                                                                Test
state                                                                     AZ
response                                                                   0
stormdate                                                                 15
gaugedist_m                                                          2891.75
stormstart                                               2011-08-15 11:00:00
stormend                                                 2011-08-15 12:00:00
stormdur_h                                                          0.919091
stormaccum_mm                                                      16.926223
stormavgi_mmh                                                         16.984
peak_i15_mmh                                                       26.573061
peak_i30_mmh                                                       14.916903
peak_i60_mmh                                                             NaN
contributingarea_km2                                                0.683425
prophm23                                                            0.001571
dnbr1000                                                            0.500223
kf                                                                       0.0
acc015_mm                                                            6.51614
acc030_mm                                                            8.24905
acc060_mm                                                                NaN
geom                           POINT (-109.27256365765582 33.65397465622337)
lon                                                              -109.272564
lat                                                                33.653975
SiteID                                                                   715
NB                                                                       0.0
GR                                                                  0.028949
GS                                                                  0.465287
SH                                                                  0.085931
TU                                                                  0.090254
TL                                                                  0.329578
dom                                                                      GS1
Fine fuel load                                                      1.831648
SAV                                                              1709.367304
Packing ratio                                                       0.012261
Extinction moisture content                                        18.278098
Igneous                                                                  1.0
Metamorphic                                                              0.0
Sedimentary                                                              0.0
Unconsolidated                                                           0.0
domrt                                                                Igneous
index_right                                                              102
LNDS_RISKV                                                     245876.108811
LNDS_RISKS                                                         94.282043
LNDS_RISKR                                               Relatively Moderate
cols_na                                                                    2
Name: 1548, dtype: object

In [8]:
df = modelDataI=gpd.read_parquet("../../data/data_v07_landslide.parquet")
print('raw data -',df.shape)

# df=df.dropna()
# print('after nulls removed -',df.shape)

df.head()

raw data - (1550, 48)

,fire_name,year,fire_id,fire_segid,database,state,response,stormdate,gaugedist_m,stormstart,...,Extinction moisture content,Igneous,Metamorphic,Sedimentary,Unconsolidated,domrt,index_right,LNDS_RISKV,LNDS_RISKS,LNDS_RISKR
0,Buckweed,2007,bck,bck_1035,Training,CA,0,22,1998.67,2008-01-21 16:27:00,...,15.000000,0.0,1.000000,0.000000,0.0,Metamorphic,205,380675.353544,96.305814,Relatively High
1,Buckweed,2007,bck,bck_1090,Training,CA,0,22,2368.93,2008-01-21 16:27:00,...,15.000000,0.0,1.000000,0.000000,0.0,Metamorphic,205,380675.353544,96.305814,Relatively High
2,Buckweed,2007,bck,bck_1570,Training,CA,0,22,3956.74,2008-01-21 16:27:00,...,15.099213,0.0,0.973247,0.026753,0.0,Metamorphic,205,380675.353544,96.305814,Relatively High
3,Buckweed,2007,bck,bck_235,Training,CA,0,22,1734.72,2008-01-21 15:47:00,...,15.093254,0.0,1.000000,0.000000,0.0,Metamorphic,205,380675.353544,96.305814,Relatively High
4,Buckweed,2007,bck,bck_363,Training,CA,0,22,1801.04,2008-01-21 15:47:00,...,15.092942,0.0,1.000000,0.000000,0.0,Metamorphic,205,380675.353544,96.305814,Relatively High

In [9]:
cols = [
    'year', # year of wildfire
    'stormstart', # date of storm that produced DF
]

df[cols]

      year          stormstart
0     2007 2008-01-21 16:27:00
1     2007 2008-01-21 16:27:00
2     2007 2008-01-21 16:27:00
3     2007 2008-01-21 15:47:00
4     2007 2008-01-21 15:47:00
...    ...                 ...
1545  2011 2011-09-07 15:00:00
1546  2011 2011-07-11 14:45:00
1547  2011 2011-07-26 10:45:00
1548  2011 2011-08-15 11:00:00
1549  2011 2011-09-07 15:00:00

[1550 rows x 2 columns]

In [10]:
df['fire_interval'] = pd.to_datetime(df['stormstart']).dt.year - df['year']
df

,fire_name,year,fire_id,fire_segid,database,state,response,stormdate,gaugedist_m,stormstart,...,Igneous,Metamorphic,Sedimentary,Unconsolidated,domrt,index_right,LNDS_RISKV,LNDS_RISKS,LNDS_RISKR,fire_interval
0,Buckweed,2007,bck,bck_1035,Training,CA,0,22,1998.67,2008-01-21 16:27:00,...,0.0,1.000000,0.000000,0.0,Metamorphic,205,380675.353544,96.305814,Relatively High,1.0
1,Buckweed,2007,bck,bck_1090,Training,CA,0,22,2368.93,2008-01-21 16:27:00,...,0.0,1.000000,0.000000,0.0,Metamorphic,205,380675.353544,96.305814,Relatively High,1.0
2,Buckweed,2007,bck,bck_1570,Training,CA,0,22,3956.74,2008-01-21 16:27:00,...,0.0,0.973247,0.026753,0.0,Metamorphic,205,380675.353544,96.305814,Relatively High,1.0
3,Buckweed,2007,bck,bck_235,Training,CA,0,22,1734.72,2008-01-21 15:47:00,...,0.0,1.000000,0.000000,0.0,Metamorphic,205,380675.353544,96.305814,Relatively High,1.0
4,Buckweed,2007,bck,bck_363,Training,CA,0,22,1801.04,2008-01-21 15:47:00,...,0.0,1.000000,0.000000,0.0,Metamorphic,205,380675.353544,96.305814,Relatively High,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1545,Wallow,2011,wlw,wlw_47409,Test,AZ,0,7,2706.25,2011-09-07 15:00:00,...,1.0,0.000000,0.000000,0.0,Igneous,102,245876.108811,94.282043,Relatively Moderate,0.0
1546,Wallow,2011,wlw,wlw_47535,Test,AZ,0,11,2891.75,2011-07-11 14:45:00,...,1.0,0.000000,0.000000,0.0,Igneous,102,245876.108811,94.282043,Relatively Moderate,0.0
1547,Wallow,2011,wlw,wlw_47535,Test,AZ,0,26,2891.75,2011-07-26 10:45:00,...,1.0,0.000000,0.000000,0.0,Igneous,102,245876.108811,94.282043,Relatively Moderate,0.0
1548,Wallow,2011,wlw,wlw_47535,Test,AZ,0,15,2891.75,2011-08-15 11:00:00,...,1.0,0.000000,0.000000,0.0,Igneous,102,245876.108811,94.282043,Relatively Moderate,0.0
1549,Wallow,2011,wlw,wlw_47535,Test,AZ,0,7,2891.75,2011-09-07 15:00:00,...,1.0,0.000000,0.000000,0.0,Igneous,102,245876.108811,94.282043,Relatively Moderate,0.0

In [11]:
df['fire_interval'].value_counts(dropna=False)

 0.0     849
 1.0     497
 NaN     160
 10.0     30
-4.0      10
 2.0       3
-3.0       1
Name: fire_interval, dtype: int64

In [12]:
# encode nans'
df['fire_interval'] = df['fire_interval'].fillna(-9999)

In [13]:
df['fire_interval'].value_counts(dropna=False)

 0.0       849
 1.0       497
-9999.0    160
 10.0       30
-4.0        10
 2.0         3
-3.0         1
Name: fire_interval, dtype: int64

In [14]:
# there is small but not insignificant proportion where the rain event is before the fire
df[df['fire_interval'] < 0][['year', 'stormstart', 'response']]

      year stormstart  response
26    2000        NaT         1
27    2000        NaT         1
28    2000        NaT         1
29    2000        NaT         1
30    2000        NaT         1
...    ...        ...       ...
1415  2000        NaT         1
1416  2000        NaT         0
1417  2000        NaT         1
1418  2000        NaT         0
1419  2000        NaT         0

[171 rows x 3 columns]

In [15]:
df.shape

(1550, 49)

In [16]:
# dropping those cases
df = df[~(df['fire_interval'] < 0)]
df.shape

(1379, 49)

better would be DAYS between fire and DF. currently do not have more granular daterange for wildfire
- proceding with broader feature to test model results

In [17]:
#download the file with risk score in parquet format
df.to_parquet("../../data/data_v08_fire_interval.parquet")